<html lang="en">
<head><meta charset="UTF-8"><title>Quantum Tricks</title></head>
<body>

{{if .UserName}}
<h1>You are logged in</h1>

Username {{.UserName}} <br>
Password {{.Password}} <br>
First Name {{.FirstName}} <br>
Last Name {{.LastName}} <br>
{{else}}
<h1>LOGIN</h1>
<form>
    <input type="text" name="UserName" placeholder="email">
    <input type="password" name="Password" placeholder="password"> <br><br>
    <input type="submit">
</form>
{{end}}
</body>
</html>
